<table mat-table [dataSource]="banners" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let banner">{{banner[column]}}</td>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let banner">
            <img [src]="banner.imageUrl" alt="Banner Image" width="100">
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay.concat('imageUrl')"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay.concat('imageUrl');"></tr>
</table>

<mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="totalBanners" (page)="onPageChange($event)">
</mat-paginator>